.order-card{
    margin-top: 1rem;
    border: 1.5px solid #c4c4c4;
    border-radius: 5px;
}

.order-card .order-card-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem 1rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #f6f6f6;
}
 p{
     
    margin-bottom: 0;
 }

.order-card .order-info{
    display: flex;
    align-items: flex-start;
    padding: 0.8rem 1rem;
}

.order-card .order-info p{
    width: 13.5%;
}

.order-card .order-info .product-info{
    width: 31%;
    display: flex;
}

.order-card .order-info .product-info img{
    width: 3rem;
}

.order-card .order-info .product-info span{
    margin-left: 0.5rem;
    font-weight: 650;
    overflow: hidden;
    max-width: 20ch;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.order-info .cancel{
    display: flex;
    justify-content: space-between;
}

.order-info .cancel .cancel-btn{
    margin-left: 4.5rem;
    padding: 0.4rem 1rem;
    color: #fff;
    background-color: brown;
    border: none;
    border-radius: 3px;
}

.order-info .cancel .cancel-btn:hover{
    cursor: pointer;
    background-color: red;
}

.order-card .accept{
    display: flex;
    justify-content: center;
}

.order-card .accept .accept-btn{
    padding: 0.4rem 1rem;
    color: #fff;
    background-color: brown;
    border: none;
    border-radius: 3px;
    margin: -1.5rem 0.5rem 1rem 0;
}

.order-card .accept .accept-btn:hover{
    cursor: pointer;
    background-color: red;
}