
.order-info{
    display: flex;
    align-items: flex-start;
    padding: 0.8rem 1rem;
}

.order-info p{
    width: 15%;
}

.order-info .product-info{
    width: 40%;
    display: flex;
}

.order-info .product-info img{
    width: 3rem;
}

.order-info .product-info span{
    margin-left: 0.5rem;
    font-weight: 650;
    overflow: hidden;
    max-width: 20ch;
    text-overflow: ellipsis;
    white-space: nowrap;
}