.order-card{
    margin-top: 1rem;
    border: 1.5px solid #c4c4c4;
    border-radius: 5px;
}

.order-card .order-card-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem 1rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #f6f6f6;
}
 p{
     
    margin-bottom: 0;
 }

.order-card .order-info{
    display: flex;
    align-items: flex-start;
    padding: 0.8rem 1rem;
}

.order-card .order-info p{
    width: 16%;
}

.order-card .order-info .product-info{
    width: 35%;
    display: flex;
}

.order-card .order-info .product-info img{
    width: 3rem;
}

.order-card .order-info .product-info span{
    margin-left: 0.5rem;
    font-weight: 650;
    overflow: hidden;
    max-width: 20ch;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.order-card .cancel{
    display: flex;
    justify-content: flex-end;
}

.order-card .cancel .cancel-btn{
    padding: 0.4rem 1.14rem;
    color: #fff;
    background-color: brown;
    border: none;
    border-radius: 3px;
    margin-top: -1.5rem;
    margin-right: 1.28rem;
}

.order-card .cancel .cancel-btn:hover{
    cursor: pointer;
    background-color: red;
}

.order-info .accept{
    display: flex;
    justify-content: flex-end
}

.order-info .accept .accept-btn{
    padding: 0.4rem 1rem;
    color: white;
    background-color: rgb(8, 162, 155);
    border: none;
    border-radius: 3px;
    margin-top: -0.5rem;
    margin-left: 3rem;
}

.order-info .accept .accept-btn:hover{
    cursor: pointer;
    background-color: rgb(16, 208, 208);
}

.order-card .more-info{
    margin-left: 1rem;
    margin-bottom: 0.5rem;
}