.fav-menu-card{
    padding: 1rem;
    background-color: #fff;
    border-radius: 10px;
    height: 250px;
    overflow-y: auto;

}

.fav-menu-card h3{
    margin-bottom: 1rem;
    border-bottom: 1px solid #c4c4c4;
    color: #c4c4c4;
}

.fav-menu-card h4{
    margin-top: 1rem;
    color: #c4c4c4;
}

.fav-menu-card .single-dish-name{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fav-menu-card .single-dish-name span{
    vertical-align: middle;
}
