.order-container{
    margin-top: 1.5rem;
    padding: 1rem;
    border: 2px solid #c4c4c4;
    border-radius: 5px;
}

.order-container .title{
    font-weight: 650;
    border-bottom: 1px solid #c4c4c4;
}
