.top-items-container{
    display: flex;
    justify-content: center;
}

.top-items{
    width: 70%;
    margin-top: 4rem;
}

.top-items .title{
    font-weight: 600;
    margin-bottom: 1rem;
}

.top-items-container .top-items .item-col{
    width: 90%;
}
.top-items-container .top-items .item-col:hover{
    cursor: pointer;
}

.top-items-container .top-items .item-col .item-container .item-img{
    width: 100%;
    border-radius: 5px;
}

.top-items-container .top-items .item-col .item-container .item-name{
    font-weight: 650;
    padding-top: 1rem;
}

.top-items-container .top-items .item-col .item-container .item-quantity{
    margin-top: -0.5rem;
    margin-bottom: 0rem;
}

.top-items-container .top-items .item-col .item-container .item-price{
    font-weight: 650;
    font-size: 1rem;
}